include _header.jade

//- main cointainer for elements
.wrapper
	.headerText
		p(class="textLine1") The newest additions to this season's
		p(class="textLine2") Touch of Elegance Collection
	//- left overlay 
	.leftCover
		//-to replace the temporary logo with your own, please delete the information in quotation marks
		//-after 'src' and add your own file path
		.logoArea
			img(src="assets/images/mockupLogo.png" alt="mockup of logo")


	//- right overlay 
	.rightCover
		
		//-Both github and cameroncodes watermarks to be removed in final product
		.gitHubWatermark
			a(href="https://github.com/pcsandford/elegance" target="_blank")
				img(src="assets/images/githubLogo.png" alt="github logo")
		.cameronCodesWatermark
			a(href="http://cameroncodes.com" target="_blank")
				img(src="assets/images/ccWatermark.png" alt="cameroncodes logo")

		.diamondText
			p Touch to begin...

	//- background for scrolling section
	.mainBackground
		
		//-to replace the temporary logo with your own, please delete the information in quotation marks
		//-after 'src' and add your own file path
		.logoAreaMain
			img(src="assets/images/mockupLogo.png" alt="mockup logo")
		//-Please delete this area after you add your own images
		.pictureAccreditation
			h5 All jewellery images by Aleksey Gnilenkov


		//-slide holder and right and left swipe icons for scrolling section.
		//-You can replace the images here by deleting the src code and replacing it with your
		//-own file path. You can also change the text next to the 'p' and 'span' tags.
		//-Additional images can be added by simply copying a set of tags here and adding them after slider-item-4. 
		//-The simply rename this as 'slider-item-5' and repeat as necessary.

		.slider-holder
			.slider
				.slider-item-1.slider-item
					img(src="assets/images/image1.jpg" alt="diamond ring and earrings")
					.infoHolder(class="info1")
						p Diamond Ring and Earring Set
							br
							span(class="description") Part of the Diamond Collection for this Season
						p(class="price") $Price
				.slider-item-2.slider-item
					img(src="assets/images/image2.jpg" alt="gold diamond earrings")
					.infoHolder(class="info info2")
						p Gold Diamond Earrings 
							br
							span(class="description") Part of the Diamond Collection for this Season
						p(class="price") $Price
				.slider-item-3.slider-item
					img(src="assets/images/image3.jpg" alt="silver diamond earrings") 
					.infoHolder(class="info info3")
						p Silver Diamond Earrings with Diamond Insets
							br
							span(class="description") Part of the Diamond Collection for this Season
						p(class="price") $Price
				.slider-item-4.slider-item
					img(src="assets/images/image4.jpg" alt="silver flower shaped diamond ring")
					.infoHolder(class="info info4")
						p Silver Diamond Flower Ring
							br
							span(class="description") Part of the Diamond Collection for this Season
						p(class="price") $Price

		//-images for swipe right and swipe left				
		.previousTrigger
			img(src="assets/images/swipeRight.png")
		.nextTrigger
			img(src="assets/images/swipeLeft.png")
		

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
script(src="TimelineMax.min.js")
script(src="jquery.gsap.min.js")
script(src="script.js")


