

@import "_normalize"; 

/*Clearfix*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*Box sizing*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//mixins

//vars



//animations

//diamond glow effect
@keyframes diamondGlowMain {
   0%  {fill:#ECF0F1}
  50% {fill:#81CFE0}
  100% {fill:#ECF0F1}
}

@keyframes diamondGlowShadow {
   0%  {fill:#C5EFF7}
  50% {fill:#5C97BF}
  100% {fill:#C5EFF7}
}

//'elegance' subtle effect
@keyframes eleganceGlow {
   0%  {color:#E4F1FE}
  50% {color: white}
  100% {color:#E4F1FE}
}

//left and right button effect
@keyframes triggerAnimation {
   0%  {stroke-width:6}
  50% {stroke-width:3;stroke:#6C7A89;}
  100% {stroke-width:6}
}




//main body

body {
  font-family: "Josefin Sans", "Great Vibes", "helvetica neue";
  font-size: 8vw;
  color: white;
}


//main container wrapper
.wrapper {
  width:100vw;
  height:100vh;
  background-color: white;
  overflow:hidden;
  position: relative;

//=======
//Cover effect
//=======
 
//left cover with diamond pattern and header text

  .leftCover {
    min-width:50vw;
    min-height:100vh;
    width:50vw;
    max-height:100vh;
    height:100vh;
    position: absolute;
    left:0;
    top:0;
    background-color: #34495E;
    z-index:5;
    transition:all 1s ease-in-out;

    .rightPattern {
      width:100%;
      height:100%;
    }


    .headerText {
      width: 100%;
      margin-left: 5%;
      margin-top: -16%;
      line-height: 1.5em;
      font-weight: 700;
      color:#888;
      z-index: 6;
      position: absolute;
      left:20px;
      top:30px;

      p {
        font-family: "Great Vibes";
        color: #ECF0F1;
        font-size:10vw;
        font-weight: 400;
        animation: eleganceGlow 10s linear infinite;
      }

      p span {
        font-weight: 400;
        font-family: "Great Vibes";
        font-style: italic;
        color:#ECF0F1;
        z-index: 6;
        font-size: 11vw;
        animation: eleganceGlow 10s linear infinite;
      }
    }
  }//close left cover

//right cover with pattern, text and diamond trigger button
  .rightCover {
    width:50vw;
    max-height:100vh;
    height:100vh;
    position: absolute;
    right:0;
    top:0;
    background: #34495E;
    z-index:5;
    transition:all 1s ease-in-out;

    .leftPattern {
      width:100%;
      height:100%;
    }
   
//container for diamond trigger
    .diamondButton {
      // border:1px solid red;
      min-width:100px;
      min-height:20vh;
      width:30%;
      position: absolute;
      top:63.5%;
      right:13%;
      

      .diamondTrigger {
        width:100%;
        height:100%;
      }

//diamond trigger animation commands
      svg .mainColour {
        animation: diamondGlowMain 5s linear infinite;
      }

      svg .shadowColour {
        animation: diamondGlowShadow 5s linear infinite;
      }
    }

//text for touch instruction
      .diamondText {
      // border:1px solid red;
      float:right;
      margin-right: 15%;
      margin-top:50%; 
      font-size: 2vw;
      font-family: "Josefin Sans";
      position: absolute;
      right:20%;
      bottom:8%;
      z-index:4;
    }
  }//close right cover

//=======
//Background and main area visible when cover is opened
//=======

  .mainBackground {
    width:100%;
    height:100%;
    background-color: white;
    padding:1px;

//store information at top left of screen
    .storeInformation {
      padding:10px;
      max-width: 30%;
      margin-left: 10%;
      margin-top: 1%;
      // border:2px solid white;
      font-size: 3vw;
      text-align: center;
      color:black;
    }

//image holder and image slider divs for jQuery slider effect
    #imageHolder {
      padding:1px;
      width: 70vw;
      height: 70vh;
      margin:0 auto;
      // border:1px solid green;

      #imageSlider {
        position: relative;
        width: 70vw;
        height:70vh;

//styling for images so they are centered within the container
        .sp {
          position: absolute;
          width: 60vw;
          height:60vh;
          z-index: 1;
        
          img {
            display:block;
            margin:0 auto;
            width:80%;
            height:100%;
          }
       
//styling for text to accompany images

          .infoHolder {
            position: absolute;
            font-size: 2vw;
            color:black;
            z-index: 8;
            bottom:-10vh;
            right:0;
            text-align: left;

          .price {
            text-align: right;
            line-height: 0px;
          }
          }
        }
      }
    }//close image holder

  
//trigger arrow to scroll from the left
    .previousTrigger {
      width:80px;
      height:80px;
      float:left;
      margin-left:10%;
      margin-top: -10%;
        
      .leftArrow {
        width:100%;
        height:100%;
          
        path {
          animation: triggerAnimation 10s linear infinite;
        }
      }
    }//close previous trigger


//trigger arrow to scroll from the right
    .nextTrigger {
      width:80px;
      height:80px;
      float:right;
      margin-right:10%;
      margin-top: -10%;
        
      .rightArrow {
        width:100%;
        height:100%;
         
        path {
          animation: triggerAnimation 10s linear infinite;
        }
      }
    }//close next trigger

  }//close main background

}//close wrapper